<ul>
  <li>
    Место: {{ post.location }}            
  </li>
  <li>
    Дата: {{ post.date }}
  </li>
  <li>
    {% if request.resolver_match.view_name  == 'blog:index' %}
      Категория: <a href="{{ post.category }}">{{ post.category }}</a>
    {% elif request.resolver_match.view_name  == 'blog:post_detail'%}
      Категория: <a href="not-my-day">{{ post.category }}</a>  
    {% endif %}
  </li>
</ul>          
<p>
  {% if request.resolver_match.view_name  == 'blog:index' %}
    {{ post.text|truncatewords:10 }}
  {% elif request.resolver_match.view_name  == 'blog:post_detail'%}
    {{ post.text|linebreaksbr }}    
  {% endif %}
</p>